{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<main>
    <h1>{{ title }}</h1>
    <fieldset>
        <form action="/atualizar-usuario/{{ current_user.id }}" method="post">
            <label>Nome completo</label>
            <br>
            <input type="text" name="name" class="inp" maxlength="60" value="{{ current_user.name }}" autofocus
                required>
            <br>
            <label>Senha</label>
            <br>
            <input type="password" name="password" class="inp" max="20" required>
            <br>
            <input type="submit" value="Atualizar">
            <input type="reset" value="Limpar">
        </form>
    </fieldset>
    {% for message in get_flashed_messages() %}
    <label>{{ message }}</label>
    {% endfor %}
</main>
{% endblock %}