<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}">
    <title>{% block title %}{% endblock %} - Blog</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <h4><a href="{{ url_for('blog.index') }}">Início</a></h4>
            </li>
            {% if current_user.is_authenticated %}
            {% if current_user.admin %}
            <li>
                <h4><a href="/admin">Adm</a></h4>
            </li>
            {% endif %}
            <li>
                <h4><a href="{{ url_for('blog.my_posts') }}">Minhas Postagens</a></h4>
            </li>
            <li>
                <h4><a href="{{ url_for('blog.update_user', id=current_user.id) }}">Atualizar Perfil</a></h4>
            </li>
            <li>
                <h4><a href="{{ url_for('authentication.logout') }}">Sair</a></h4>
            </li>
            {% else %}
            <li>
                <h4><a href="{{ url_for('authentication.register') }}">Registrar</a></h4>
            </li>
            <li>
                <h4><a href="{{ url_for('authentication.login') }}">Entrar</a></h4>
            </li>
            {% endif %}
        </ul>
    </nav>
    <hr>
    {% block body %}{% endblock %}
</body>

</html>